<div class="row">
    <div class="col-sm" >
        <div class="row">
            <!-- TradingView Widget BEGIN -->
            <iframe scrolling="no" allowtransparency="true" frameborder="0" width="100%" height="75" src="https://s.tradingview.com/tickerswidgetembed/#%7B%22symbols%22%3A%5B%7B%22description%22%3A%22ETH%20USD%22%2C%22proName%22%3A%22BITFINEX%3AETHUSD%22%7D%5D%2C%22locale%22%3A%22in%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A104%2C%22utm_source%22%3A%22in.tradingview.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22tickers%22%7D" style="box-sizing: border-box; padding-bottom: 0px;"></iframe>
            <span id="tradingview-copyright"><a ref="nofollow noopener" target="_blank" href="http://in.tradingview.com" style="color: rgb(173, 174, 176); font-family: &quot;Trebuchet MS&quot;, Tahoma, Arial, sans-serif; font-size: 13px;">Quotes by <span style="color: #3BB3E4">TradingView</span></a></span>
            <!-- TradingView Widget END -->
      </div>  
    </div>
    <div class="col-sm">

        <div class="card text-center"  style="height:73px; background-color:burlywood; border:0px;">
            <div class="card-body">
            <h4 id="bitfinex_eth_usd" class="card-title" style="color:#22313f;">$ NA</h4>
            <h6 id="bitfinex_eth_inr" class="card-subtitle mb-2" style="color:#22313f;">₹ NA</h6>           
            </div>
        </div>

    </div>
  </div>
<div class="row" style="height:325px">
    <!-- <div class="col-sm-12" style="height:320px">  -->
      <script>

      new TradingView.widget({
          "autosize": true,
          "symbol": "BITFINEX:ETHUSD",
          "interval": "60",
          "timezone": "Asia/Kolkata",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "save_image": false,
          "hideideas": true,
          "studies": [
            "RSI@tv-basicstudies",
            //"MACD@tv-basicstudies"
          ]
        });

      //$('#btcusdID').html(btcusdelement);

      </script>
    <!-- </div>   -->
 
</div>  