<div class="row">
    <div class="col-sm" > 
        <div class="row">
            <iframe scrolling="no" allowtransparency="true" frameborder="0" width="100%" height="75" src="https://s.tradingview.com/tickerswidgetembed/#%7B%22symbols%22%3A%5B%7B%22description%22%3A%22XRP%20USD%22%2C%22proName%22%3A%22BITFINEX%3AXRPUSD%22%7D%5D%2C%22locale%22%3A%22in%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A104%2C%22utm_source%22%3A%22in.tradingview.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22tickers%22%7D" style="box-sizing: border-box; padding-bottom: 0px;"></iframe>
      </div>  
    </div>
    <div class="col-sm">
        <div class="card text-center"  style="height:73px; background-color:lightpink; border:0px;">
            <div class="card-body">
              <p id="bitfinex_xrp_inr" style="color:22313f;font-size:1.5em;">₹ 12,00,000 </p>
            </div>
          </div>
    </div>
  </div>
<div class="row" style="height:325px">
    <!-- <div class="col-sm-12" style="height:320px">  -->
      <script>

      new TradingView.widget({
          "autosize": true,
          "symbol": "BITFINEX:XRPUSD",
          "interval": "60",
          "timezone": "Asia/Kolkata",
          "theme": "Dark",
          "style": "1",
          "locale": "en",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "save_image": false,
          "hideideas": true,
          "studies": [
            "RSI@tv-basicstudies",
            //"MACD@tv-basicstudies"
          ]
        });

      //$('#btcusdID').html(btcusdelement);

      </script>
    <!-- </div>   -->
 
</div>  