<!DOCTYPE html>
<html>
<head> 
  
  <% include partials/head.ejs %>

  <style>
    p.headingFont{
       font-family: lobster-two, cursive;
       font-size: 40px;
  }
  </style>
</head>
<body>
  
  <% include partials/menu.ejs%>

  <br/><br/><br/>

  <% include partials/headline.ejs %> 

  <div class="container">
       <div class="row">
          <div class="col-md-12">
              <img src="images/main.jpg" class="img-responsive" alt="ilovemycity" />
          </div>
        </div>
  </div>

  <br/>

<% include partials/jsincludes.ejs %>

</body>
</html>
