<!DOCTYPE html>
<html>
<head> 
  
  <% include partials/head.ejs %>

  <style>
    p.headingFont{
       font-family: lobster-two, cursive;
       font-size: 40px;
  }  
  </style>
</head>
<body>
  
  <% include partials/menu.ejs%>

  <br/>


  <div class="container-fluid">
    <div class="container-fluid">
      
      <div class="row">
      <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/tradingview_btcusd.ejs %>
      </div>
      <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/tradingview_ethusd.ejs %>
      </div>
      <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/tradingview_ltcusd.ejs %>
      </div>
      </div>
      <br>
      <div class="row">
      <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/tradingview_bchusd.ejs %>
      </div>
      <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/tradingview_xrpusd.ejs %>
      </div>
        <div class="col-sm-4" style="height:300px">
          <% include partials/home_components/indian_exchanges.ejs %>
        </div>
      </div>      
    </div>
  </div>

<% include partials/jsincludes.ejs %>

<% include partials/home_components/ticker_scripts.ejs %>

</body>
</html>
